.mycontent{
  padding-top: 100px;
 border: 10px solid red;
}

body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: mintcream;
  margin: 0;
}

.mynavbar{
  background-color: #4287f5;
  color:white;
}
.mynavbar a{
  color:white;
}
.nav-link{
  color: white;
}
.mybutton{
  background-color: #4287f5;
  color:white;
  padding-top: 8px;
  margin: 10px;
}

#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
